.vscode
content/local
data/uk_climate_groups.yaml
layouts/_default/_markup/render-nowt.html
layouts/shortcodes/greta-vid.html
public
resources
resources/_gen
READLOCAL.md
static/fonts/Montserrat*
static/fonts/Jost*.ttf
static/photos
