<header id="top">
        <nav class="main-menu">

            <ul>
                {{ $this_page := .Title | lower }}
                {{ range site.Menus.main }}
                    <li id="menu-{{ replace .Name " " "-" }}">
                        <a href="{{ .URL }}" {{ if eq $this_page .Identifier }}class="active"{{ end }}>
                            <span class="icon">{{ .Pre }}</span> 
                            <span class="menu-text">{{ .Name | upper }}</span>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </nav>
    <div class="inner">
        <div class="main-heading">
            {{/*  <a href="/"><img src="/img/xr-logo-text.svg" alt="XR logo" title="Home page"></a>  */}}
            {{/*  <span class="hourglass-logo">
                <a href="/"><img src="/img/hourglass-logo.svg" alt="hourglass logo"></a>
            </span>
            <div class="heading">
                EXTINCTION REBELLION&nbsp; <br><span class="sheffield">SHEFFIELD</span></div>
                */}}
                <a href="/" title="Home page"><img src="/img/sheffield-logo-1.svg" alt="EXTINCTION REBELLION SHEFFIELD logo"></a>
        </div>  


    </div>
            <button class="hamburger hamburger--arrowturn" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
</header>

<div class="inner">
    <nav class="socials">
        <ul>
            <li>{{ partial "donate" . }}</li>
            {{ range first 5 site.Menus.social }}
                <li><a href="{{ .URL }}" class="icon" title="{{ .Name }}">{{ .Pre }}</a></li>
            {{ end }}
        </ul>
    </nav>
</div>