/* Fluid space measurements calculated using the following settings:

width: 1100 to 550px / font size 24px to 14px
@link https://utopia.fyi/space/calculator?c=550,14,1.2,1100,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,xs-m&g=s,l,xl,12 */



@font-face {
    font-family: "fucxed";
    src: url(/fonts/fucxed.woff2);
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(/fonts/SourceSansPro-Regular.woff2);
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(/fonts/SourceSansPro-Italic.woff2);
    font-style: italic;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(/fonts/SourceSansPro-Bold.woff2);
    font-weight: bold;
}

*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --pink: #F1B2D1;
    --dark-pink: #986297; /* for PRESS section */
    --green: #3AAA37;
    --light-blue: #76D0F2;
    /* --blue: #05B8FC; old blue */
    --blue: #21ACE2;
    --dark-blue: #084697;
    --dark-blue: #3960AB;
    --yellow: #FFC113;
    --black: #181818;
    --width: 1100px;
}

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Source Sans Pro', verdana, Arial, Helvetica, sans-serif;
    /* font-size: clamp(0.88rem, calc(0.72rem + 0.77vw), 1.25rem); */
    font-size: clamp(0.88rem, calc(0.50rem + 1.51vw), 1.50rem);
    line-height: 1.4;
    color: var(--black);
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
main {
    background-color: #fff;
    padding: 1em;
}
main,
.inner {
    width: min(100%, var(--width));
    margin-inline: auto;
    padding-inline: clamp(0.69rem, calc(-0.87rem + 4.55vw), 2.25rem);
}

header {
    padding-top: 1.5em;
    padding-bottom: 0.75em;
    font-family: "fucxed", sans-serif;
    background-color: var(--blue);
    background-image: 
    linear-gradient(to bottom, #2225, transparent 50%),
    url(/img/climate-book-gradient.svg);
    background-size: 100%;
    letter-spacing: -.02em;
    word-spacing: -0.2em;
}
header .inner {
    display: grid;
    row-gap: .6em;
}
.main-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
}
.main-heading img {
    width: 14em;
    transition: 0.3s;
}
.main-heading img:hover {
    fill: white;
    transform: scale(1.1);
}
.heading {
    text-align: right;
    font-size: 1.1em;
    line-height: 1;
}
.sheffield {
    font-size: 3.4em;
}
.hourglass-logo {
    width: 7em;
}
.hourglass-logo img {
    width: 100%;
}
nav ul,
main nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header .main-menu ul {
    justify-content: space-between;
    word-spacing: -0.2em;
}
.main-menu a {
	color: #f6e705;
	text-shadow: 2px 2px black;
}
.main-menu .icon svg {
    max-width: 1em;
    fill: yellow:
}
li#menu-home {
    display: none;
}

.hamburger {
    position: absolute;
    top: 1em;
    right: 1em;
    display: none;
}
.show {
    transform: translateX(100%);
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #fff;
}
header nav.socials ul {
    gap: 1em;
    justify-content: end;
    align-items: center;
}
.socials li:not(:first-child) {
    width: 1.5em;
}
.icon svg {
    width: 100%;
    transition: all 0.5s;
}
.icon:hover svg {
    fill: #fff;
    transform: scale(1.3);
}

/* ------ FOOOTER  ------ */

footer {
    background-color: var(--black);
    color: #fff;
    background-image: url(/img/xr-logo-tilted.svg);
    background-repeat: no-repeat;
    background-size: 20em;
    background-position: 30% -2em;
    padding-top: 1em;
}

footer a {
    color: #ccc;
}
footer .inner {
    margin-block: 2em;
    display: flex;
    justify-content: space-between;
    gap: 2em;
}
.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 2;
}
.footer-centre ul {
    flex-shrink: 0;
    flex-direction: column;
    text-transform: capitalize;
}
.copyright {
    font-size: 0.8em;
    margin-bottom: 0;
}

h1,
h2,
h3 {
    color: var(--blue);
    font-family: fucxed, sans-serif;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -0.051em;
    margin-bottom: 0.2em;
}
h1 {
    font-size: 3.6em;
}
h2 {
    font-size: 2.2em;
    border-bottom: 2px solid currentColor;
}
h2 a {
    text-decoration: none;
}
h3 {
    font-size: 1.75em;
}
h3 + p {
    margin-top: 0.25em;
}
p {
    margin-top: 0;
}

/* body.press h1,
body.press h2,
body.press h3 {
    color: var(--dark-pink);
} */
/* body.news h1,
body.news h2,
body.news h3 {
    color: var(--yellow);
} */

button:hover {
    cursor: pointer;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 0.8em;
    font-family: 'fucxed', sans-serif;
    text-transform: uppercase;
    /* height: 35px; */
    /* line-height: 20px; */
    border: none;
    border-radius: 30px;
    background-color: var(--black);
    color: #fff;
    padding: 0.5em 1em 0.3em 1em;
}

.donate {
    background-color: #fff;
    color: var(--black);
}


.link-box {
    margin: 3em 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.25em;
}
.link-box img {
    width: 100%;
}

header a {
    color: #000;
    text-decoration: none;
    transition: all 0.4s;
}

.time {
    font-size: 0.8em;
}
.author-date {
    display: flex;
    gap: 2em;
    font-size: 0.7em;
}

.prev-next {
    margin: 2em 0;
    display: flex;
    justify-content: center;
    gap: 2em;
    text-align: center;
}

.footnotes {
    margin-top: 2em;
}
.footnotes::before {
    content: 'References';
    display: block;
    color: #555;
    font-family: fucxed, sans-serif;
    font-size: 1.75em;
    line-height: 1;
    text-transform: uppercase;
}
.footnotes > hr {
    display: none;
}


/* ---- List page ---- */

.list-page-list {
    list-style-type: none;
    padding: 0;
}
.list-page-list li {
    border: solid 1px #aaa;
    margin-block: 1em;
    padding: 1em;
}

.list-page-list li h2 {
    border: none;
    margin: 1em 0 0 0;
    font-size: 2em;
}
.list-page-list li h2 a {
    color: var(--green);
}

.pagination {
    margin: 3em 0;
    display: flex;
    justify-content: center;
    gap: 0.25em;
    font-size: 1.1em;
}
.pagination a {
    text-decoration: none;
}
.pagination .active a {
    background-color: darkred;
}



/* ------ HOME PAGE ----- */

.home .content > p:first-child {
    font-size: 1.25em;
    font-weight: bold;
}
.join {
    margin: 3em 0 ;
    background-color: var(--green);
    padding: 1em;
}
.join h2 {
    border: none;
    margin: 0;
    color: var(--black);
}
.join h2 span {
    color: #fff;
}


/* ---- WHO WE ARE PAGE ------- */

.demands {
    margin-block: 2em 4em;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1em;
    row-gap: 2em;
}
.demand h3 {
    margin: 0;
}
.demand-number {
    font-family: fucxed, sans-serif;
    font-size: 4em;
    color: var(--blue);
    line-height: 1;
}


/* ---- Contact page ---- */

.contact-list {
    border: solid clamp(0.88rem, calc(0.25rem + 1.82vw), 1.50rem) var(--green);
    padding: clamp(0.88rem, calc(-0.50rem + 4.00vw), 2.25rem);
}
.contact-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.contact-list li {
    margin-bottom: 1em;
}

.contact-socials ul {
    margin-block: 4em;
    display: grid;
    grid-template-columns: repeat(4, 4.5em);
    justify-content: center;
    text-transform: capitalize;
    gap: 1em;
}
.contact-socials li a {
    display: block;
    text-align: center;
    font-size: 0.9em;
    /* width: 14em; */
}
.contact-socials li a:hover {
    transform: scale(1.1);
}
.contact-socials svg {
    width: 90%;
    max-width: 100%;
}
.contact-socials #fb {
    fill: #1A6ED8;
}
.contact-socials #tw {
    fill: #1D9BF0;
}
.contact-socials #ig {
    fill: #DD2A7B;
}
.contact-socials #yt {
    fill: darkred;
}


/* ------ Search Page -----` */

input[type="text"] {
    font-size: 1em;
}


/* ----- MEDIA QUERIES -------- */

@media screen and (max-width: 700px) {
 .main-menu {
    display: grid;
    place-content: center;
     position: fixed;
     right:100vw;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: #000000d4;
     background-image: url(/img/xr-logo-tilted.svg);
     background-repeat: no-repeat;
     background-size: 90vw;
     background-position: -10vw 120%;
     backdrop-filter: blur(5px);
    transition: all 0.7s;
    }
    .main-menu ul {
        flex-direction: column;
        font-size: 2em;
        height: 60vh;
        text-align: center;
    }
    li#menu-home {
        display: block;
    }
    .hamburger {
        display: block;
    }
}    