/* Fluid space measurements calculated using the following settings:

width: 1100 to 550px / font size 24px to 14px
@link https://utopia.fyi/space/calculator?c=550,14,1.2,1100,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,xs-m&g=s,l,xl,12 */


@font-face {
    font-family: "fucxed";
    src: url(/fonts/fucxed.woff2);
    font-display: block;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(/fonts/SourceSansPro-Regular.woff2);
    font-display: block;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(/fonts/SourceSansPro-Italic.woff2);
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(/fonts/SourceSansPro-Bold.woff2);
    font-weight: bold;
    font-display: block;
}

*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --pink: #F1B2D1;
    --dark-pink: #986297; /* for PRESS section */
    --green: #3AAA37;
    --light-blue: #76D0F2;
    /* --blue: #05B8FC; old blue */
    --blue: #21ACE2;
    --dark-blue: #198bb8;
    --darker-blue: #084697;
    --darker-blue: #3960AB;
    --yellow: #FFC113;
    --black: #181818;
    --width: 1100px;
    --facebook-blue: #1877f2;
    --twitter-blue: #1da1f2;
    --pinterest-red: #e60023;
    --pocket-orange: #ef4056;
    --whatsapp-green: #25d366;
    --mastodon-purple: #615EF8;
}

/* ----- MOBILE HAMBURGER NAV ------ */

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }



/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }


/*
   * Arrow Turn
   */
.hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg); }
  .hamburger--arrowturn.is-active .hamburger-inner::before {
    transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }
  .hamburger--arrowturn.is-active .hamburger-inner::after {
    transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }



html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Source Sans Pro', verdana, Arial, Helvetica, sans-serif;
    /* font-size: clamp(0.88rem, calc(0.50rem + 1.51vw), 1.50rem); */
    
    /* starting at 1920 width with 25px */
    /* @link https://utopia.fyi/type/calculator?c=400,14,1.2,1920,25,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    font-size: clamp(0.88rem, calc(0.69rem + 0.72vw), 1.56rem);
    line-height: 1.4;
    color: var(--black);
}

.wrapper {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
main {
    background-color: #fff;
    padding-top: 5em;
}
main,
.inner {
    width: min(100%, var(--width));
    margin-inline: auto;
    padding-inline: clamp(0.69rem, calc(-0.87rem + 4.55vw), 2.25rem);
}

header {
    padding-top: 0;
    padding-bottom: 0.75em;
    /* font-family: "fucxed", sans-serif; */
    background-color: var(--blue);
    background-image: url(/img/climate-book-gradient.svg);
    background-size: 100%;
    /* letter-spacing: -.02em;
    word-spacing: -0.2em; */
}
header .inner {
    display: grid;
    row-gap: .6em;
    padding-top: 2em;
}
.main-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
}
.main-heading img {
    width: 10em;
    transition: 0.3s;
}
.main-heading img:hover {
    fill: white;
    transform: scale(1.1);
}
.heading {
    text-align: right;
    font-size: 1.1em;
    line-height: 1;
}
.sheffield {
    font-size: 3.4em;
}
.hourglass-logo {
    width: 7em;
}
.hourglass-logo img {
    width: 100%;
}
nav ul,
main nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.main-menu {
    background-color: #fff;
    background-color: var(--black);
    padding: 2em 2em calc(.5rem + 6px) 2em;
    margin-bottom: 2em;
}
header .main-menu ul {
    justify-content: space-between;
}
.main-menu ul {
    max-width: 1400px;
    margin: 0 auto;
}
.main-menu a {
	color: #f6e705;
    color: #fff;
    padding: 0 1em .5rem 1em;
    border-bottom: solid red 0px;
}
.main-menu a:hover {
    border-bottom: 8px solid #fff;
}
.main-menu a.active {
    border-bottom: solid red 8px;
}
.main-menu .icon svg {
    max-width: 1em;
    fill: red;
    display: none;
}
li#menu-home {
    display: block;
    margin-right: auto;
}
li#menu-search {
    display: block;
    margin-left: auto;
}

.hamburger {
    position: absolute;
    top: 1em;
    right: 1em;
    display: none;
}
.show {
    transform: translateX(100%);
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #fff;
}
header nav.socials ul {
    gap: 1em;
    justify-content: end;
    align-items: center;
}
.socials li:not(:first-child) {
    width: 1.5em;
}
.icon svg {
    width: 100%;
    transition: all 0.5s;
}
.icon:hover svg {
    fill: #fff;
    transform: scale(1.3);
}

/* ------ FOOTER  ------ */

footer {
    background-color: var(--black);
    color: #fff;
    background-image: url(/img/xr-logo-tilted.svg);
    background-repeat: no-repeat;
    background-size: 20em;
    background-position: 30% -2em;
    padding-top: 1em;
}

footer a {
    color: #ccc;
    text-decoration: none;
}
footer .icon svg {
    max-width: 0.8em;
    fill: #ccc;
    display: inline-block;
    margin-right: 0.25em;
}
footer .inner {
    margin-block: 2em;
    display: flex;
    justify-content: space-between;
    gap: 2em;
}
.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 2;
}
.footer-centre ul {
    flex-shrink: 0;
    flex-direction: column;
    text-transform: capitalize;
}
.copyright {
    font-size: 0.8em;
    margin-bottom: 0;
}

h1,
h2 {
    color: var(--blue);
    font-family: fucxed, sans-serif;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -0.03em;
    word-spacing: -0.2em;
    margin-bottom: 0.2em;
}
h1 {
    font-size: 3.6em;
    margin-top: 0.5rem;
}
h2 {
    font-size: 2.2em;
    border-bottom: 2px solid currentColor;
    margin-top: 2em;
}
h2 a {
    text-decoration: none;
}
h3 {
    font-size: 1.5em;
    color: var(--blue);
    margin-bottom: 0.25rem;
}
h3 + p {
    margin-top: 0.25rem;
}
p {
    margin-top: 0;
}
main p, main li {
    color: #444;
}
main li::marker {
    color: var(--dark-blue);
}

/* body.press h1,
body.press h2,
body.press h3 {
    color: var(--dark-pink);
} */
/* body.news h1,
body.news h2,
body.news h3 {
    color: var(--yellow);
} */

button:hover {
    cursor: pointer;
}

.btn,
a[title="btn"] {
    display: inline-block;
	text-decoration: none;
	font-size: 0.9em;
	font-family: 'fucxed', sans-serif;
	text-transform: uppercase;
	border: solid 2px var(--black);
	border-radius: 5px;
	background-color: transparent;
	color: var(--black);
	padding: 0.6rem 1.25rem 0.4rem 1.25rem;
	border: solid 2px;
    transition: all 0.4s;
}
.btn:hover,
.btn:active {
    color: #fff;
    background-color: var(--black);
    border-color: var(--black);
}

.donate {
    background-color: #fff;
    color: var(--black);
}


.link-box {
    margin: 3em 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.25em;
}
.link-box img {
    width: 100%;
    border-radius: 5px;
}

header a {
    color: #000;
    text-decoration: none;
    transition: all 0.4s;
}

.time {
    font-size: 0.8em;
}
.author-date {
    display: flex;
    gap: 2em;
    font-size: 0.7em;
}

.prev-next {
    margin: 2em 0;
    display: flex;
    justify-content: center;
    gap: 2em;
    text-align: center;
}

.footnotes {
    margin-top: 2em;
}
.footnotes::before {
    content: 'References';
    display: block;
    color: #555;
    font-family: fucxed, sans-serif;
    font-size: 1.75em;
    line-height: 1;
    text-transform: uppercase;
}
.footnotes > hr {
    display: none;
}

/* ---- SINGLE PAGE ----- */

.cover-image {
    border-radius: 5px;
    display: block;
    max-height: 80vh;
    margin: 2em 0;
}


/* ----- SOCIAL SHARE BUTTONS ------- */

.social-share-btns {
    margin: 2em 0 4em 0;
    display: flex;
    justify-content: center;
    gap: .25em;
    }
    .share {
    line-height: 0;
    display: flex;
    align-items: center;
    margin-right: 0.5em;
    }
    a.share-btn {
        line-height: 0;
        width: 1.25em;
        padding: 0.25em clamp(0.25rem, calc(-0.89rem + 5.71vw), 1.25rem);
        box-sizing: content-box;
        border-radius: 5px;
        transition: all 400ms;
        cursor: pointer;
    }
    a.share-btn:hover {
        transform: scale(1.15);
    }

    .facebook-btn {
        background-color: var(--facebook-blue);
    }

    .twitter-btn {
        background-color: var(--twitter-blue);
    }

    .pinterest-btn {
        background-color: var(--pinterest-red);
    }

    .pocket-btn {
        background-color: var(--pocket-orange);
    }

    .whatsapp-btn {
        background-color: var(--whatsapp-green);
    }

    .mastodon-btn {
        background-color: var(--mastodon-purple);
    }

    .share-btn #twitter,
    .share-btn #fb,
    #mastodon {
    fill: white;
}


/* ---- List page ---- */

.list-page-list {
    list-style-type: none;
    padding: 0;
}
.list-page-list .li {
    border: solid 1px #aaa;
    border-radius: 5px;
    margin-block: 1em;
    padding: 1em;
}

.list-page-list .li h2 {
    border: none;
    margin: 1em 0 0 0;
    font-size: 2em;
}
.list-page-list .li h2 a {
    color: var(--green);
}

.pagination {
    margin: 3em 0;
    display: flex;
    justify-content: center;
    gap: 0.25em;
    font-size: 1.1em;
}
.pagination a {
    text-decoration: none;
}
.pagination .active a {
    background-color: darkred;
}

/* --- EVENTS sytling ------ */

.event-li {
    margin-bottom: 1em;
    display: block;
    height: 100%;
    padding: 1em;
    border-radius: 5px;
    border: solid 1px #e0e0e0;
    /* box-shadow: 0 0 1em #ccc7; */
    text-decoration: none;
    color: var(--black);
    background-color: #eee;
    transition: all 0.4s;
    font-size: max(0.85em, 13px);
}

.event-li:hover {
    border-color: orangered;
}


.event-li h3 {
    margin-top: 0;
    font-family: 'Source Sans Pro', verdana, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: var(--dark-blue);
    text-transform: none;
    word-spacing: 0;
    letter-spacing: 0;
}
.event-li a,
.event-link {
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-rows: repeat(auto auto 1fr auto); */
    justify-content: space-between;
    height: 100%;
    color: var(--black);
    /* grid-template-rows: auto 3em 1fr auto; */
    text-decoration: none;
}
.summary {
    flex-grow: 10;
    margin-top: 1em;
}
.read-more {
    margin-top: 2em;
    text-align: center;
}

.where-and-when {
    max-width: 750px;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    gap: 1em;
}
.where-and-when > * {
    padding: 1em;
    border: solid 1px #ccc;
    border-radius: 10px;
}
.where-and-when h3 {
    margin: 0;
}


/* --- April 21 The Big One ---- */

#demo {
    background-color: var(--blue);
    padding: 0.5em;
    width: 11em;
    max-width: 100%;
    margin: 2em auto;
    font-size: 2em;
    text-align: center;
    color: #fff;
    font-family: fucxed, sans-serif;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 150px;
    letter-spacing: -0.03em;
    word-spacing: -0.2em;
}
.time-unit {
    display: inline-block;
    margin-left: 0.25em;
    margin-right: 1em;
    font-size: 1rem;
}

/* ------ HOME PAGE ----- */

.home .content > p:first-child {
    font-size: 1.25em;
    font-weight: bold;
}
main .join {
    margin: 3em 0 ;
    padding: clamp(1.00rem, calc(-0.39rem + 4.46vw), 4.63rem);
    border-radius: 5px;
    background-color: var(--green);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 491.64 492'> <path class='logo' fill='%23fff3' d='M289.8,4C154.47-20.56,25.36,70.51,3.1,206.24-18.18,336,72.49,464.51,201.84,488c135.33,24.57,264.44-66.51,286.7-202.24C509.82,156,419.15,27.48,289.8,4Zm72.67,101.56-179.41-31a5.66,5.66,0,0,1-.87-10.93A192.84,192.84,0,0,1,367,95.56,5.66,5.66,0,0,1,362.47,105.57Zm-143.75,23,92.05,15.9a5.65,5.65,0,0,1,2.79,9.8l-56,49.79a5.65,5.65,0,0,1-8.71-1.51l-36-65.69A5.65,5.65,0,0,1,218.71,128.55Zm54.22,234.9-92.05-15.9a5.65,5.65,0,0,1-2.79-9.8l56-49.79a5.65,5.65,0,0,1,8.71,1.51l36.05,65.69A5.65,5.65,0,0,1,272.93,363.45ZM55.46,213.11A192.43,192.43,0,0,1,127.68,93.28,5.67,5.67,0,0,1,136.11,95L214,236.92a5.65,5.65,0,0,1-1.2,6.95L91.82,351.4a5.67,5.67,0,0,1-8.53-1.17A192.43,192.43,0,0,1,55.46,213.11Zm73.72,173.32,179.42,31a5.66,5.66,0,0,1,.87,10.93,192.84,192.84,0,0,1-184.77-31.92A5.66,5.66,0,0,1,129.18,386.43ZM355.54,397,277.68,255.08a5.65,5.65,0,0,1,1.2-6.95L399.83,140.6a5.67,5.67,0,0,1,8.53,1.17,192.8,192.8,0,0,1-44.39,257A5.67,5.67,0,0,1,355.54,397Z'/> </svg>");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 110% 10%;
;
}
.join h2 {
    border: none;
    margin: 0 0 0.5em 0;
    color: var(--black);
}

.join h2 span {
	color: #fff;
	text-shadow: 1px 0 1px #0004;
}

main .join p,
main .join li {
    color: #000;
    /* font-size: 1.1em; */
}
main .join a {
    color: #fff;
}

.home .list-page-list,
.events .list-page-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.5em;
}


/* ---- WHO WE ARE PAGE ------- */

.demands {
    margin-block: 2em 4em;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1em;
    row-gap: 2em;
}
.demand h3 {
    margin: 0;
}
.demand-number {
    font-family: fucxed, sans-serif;
    font-size: 4em;
    color: var(--blue);
    line-height: 1;
}


/* ---- Contact page ---- */

.contact-list {
    border: solid clamp(0.88rem, calc(0.25rem + 1.82vw), 1.50rem) var(--green);
    padding: clamp(0.88rem, calc(-0.50rem + 4.00vw), 2.25rem);
}
.contact-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.contact-list li {
    margin-bottom: 1em;
}

.contact-socials ul {
    margin-block: 4em;
    display: grid;
    grid-template-columns: repeat(4, 4.5em);
    justify-content: center;
    text-transform: capitalize;
    gap: 1em;
}
.contact-socials li a {
    display: block;
    text-align: center;
    font-size: 0.9em;
    transition: 0.35s;
    text-decoration: none;
    color: var(--dark-blue);
    /* width: 14em; */
}
.contact-socials li a:hover {
    transform: scale(1.1);
}
.contact-socials svg {
    width: 90%;
    max-width: 100%;
}
.contact-socials #fb {
    fill: #1A6ED8;
}
.contact-socials #tw {
    fill: #1D9BF0;
}
.contact-socials #ig {
    fill: #c13584;
}
.contact-socials #yt {
    fill: darkred;
}


/* ------ Search Page -----` */

input[type="text"] {
    font-size: 1em;
}


/* ----- MEDIA QUERIES -------- */

@media screen and (max-width: 800px) {
 .main-menu {
    display: grid;
    place-content: center;
     position: fixed;
     right:100vw;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: #000000d4;
     background-image: url(/img/xr-logo-tilted.svg);
     background-repeat: no-repeat;
     background-size: 90vw;
     background-position: -10vw 120%;
     backdrop-filter: blur(5px);
    transition: all 0.7s;
    }
    .main-menu ul {
        flex-direction: column;
        font-size: 2em;
        height: 60vh;
        text-align: center;
    }
    li#menu-home {
        margin-right: initial;
    }
    li#search {
        margin-left: initial;
    }
    .hamburger {
        display: block;
    }
}  

