@use "sass:color";
:root {
    --pink: #F1B2D1;
    --dark-pink: #986297;
    /* for PRESS section */
    --green: #3AAA37;
    --light-blue: #76D0F2;
    /* --blue: #05B8FC; old blue */
    --blue: #21ACE2;
    --dark-blue: #198bb8;
    --darker-blue: #084697;
    --darker-blue: #3960AB;
    --yellow: #FFC113;
    --black: #181818;
    --white: #fff;

    --facebook-blue: #1877f2;
    --twitter-blue: #1da1f2;
    --pinterest-red: #e60023;
    --pocket-orange: #ef4056;
    --whatsapp-green: #25d366;
    --mastodon-purple: #615EF8;

    --type-color: #464646;
    --bgc: var(--white);
    --shadow-color: #ccc8;
    --button-color: var(--black);
    --width: 1400px;
    --xr-color: var(--blue);


    /* @link https://utopia.fyi/type/calculator?c=600,17,1.2,1240,23,1.414,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

    --step--2: clamp(0.72rem, calc(0.76rem + -0.05vw), 0.74rem);
    --step--1: clamp(0.89rem, calc(0.76rem + 0.33vw), 1.02rem);
    --step-0: clamp(1.06rem, calc(0.71rem + 0.94vw), 1.44rem);
    --step-1: clamp(1.28rem, calc(0.56rem + 1.89vw), 2.03rem);
    --step-2: clamp(1.53rem, calc(0.27rem + 3.36vw), 2.87rem);
    --step-3: clamp(1.84rem, calc(-0.25rem + 5.57vw), 4.06rem);
    --step-4: clamp(2.20rem, calc(-1.12rem + 8.86vw), 5.75rem);
    --step-5: clamp(2.64rem, calc(-2.50rem + 13.70vw), 8.13rem);

}




// XR Colors
// See: https://rebeltoolkit.extinctionrebellion.uk/books/100-days/page/design-assets
//
// There is no xr-color-6. That is the base or standard colour.

$xr-green: #22A93D;
$xr-yellow: #F6ED73;
$xr-pink: #DC93C0;
$xr-light-blue: #7BD0EF;
$xr-mauve: #986297;
$xr-gold: #FCC035;
$xr-orange: #D94F17;
$xr-red: #C50A81;
$xr-dark-blue: #3D61A8;

$xr-green-3: color.scale($xr-green, $lightness: 45%, $space: hsl);
$xr-yellow-3: color.scale($xr-yellow, $lightness: 45%, $space: hsl);
$xr-pink-3: color.scale($xr-pink, $lightness: 45%, $space: hsl);
$xr-light-blue-3: color.scale($xr-light-blue, $lightness: 25%, $space: hsl);
$xr-mauve-3: color.scale($xr-mauve, $lightness: 45%, $space: hsl);
$xr-gold-3: color.scale($xr-gold, $lightness: 45%, $space: hsl);
$xr-orange-3: color.scale($xr-orange, $lightness: 45%, $space: hsl);
$xr-red-3: color.scale($xr-red, $lightness: 45%, $space: hsl);
$xr-dark-blue-3: color.scale($xr-dark-blue, $lightness: 45%, $space: hsl);

$xr-green-4: color.scale($xr-green, $lightness: 30%, $space: hsl);
$xr-yellow-4: color.scale($xr-yellow, $lightness: 30%, $space: hsl);
$xr-pink-4: color.scale($xr-pink, $lightness: 30%, $space: hsl);
$xr-light-blue-4: color.scale($xr-light-blue, $lightness: 20%, $space: hsl);
$xr-mauve-4: color.scale($xr-mauve, $lightness: 30%, $space: hsl);
$xr-gold-4: color.scale($xr-gold, $lightness: 30%, $space: hsl);
$xr-orange-4: color.scale($xr-orange, $lightness: 30%, $space: hsl);
$xr-red-4: color.scale($xr-red, $lightness: 30%, $space: hsl);
$xr-dark-blue-4: color.scale($xr-dark-blue, $lightness: 30%, $space: hsl);

$xr-green-5: color.scale($xr-green, $lightness: 15%);
$xr-yellow-5: color.scale($xr-yellow, $lightness: 15%);
$xr-pink-5: color.scale($xr-pink, $lightness: 15%);
$xr-light-blue-5: color.scale($xr-light-blue, $lightness: 15%);
$xr-mauve-5: color.scale($xr-mauve, $lightness: 15%);
$xr-gold-5: color.scale($xr-gold, $lightness: 15%);
$xr-orange-5: color.scale($xr-orange, $lightness: 15%);
$xr-red-5: color.scale($xr-red, $lightness: 15%);
$xr-dark-blue-5: color.scale($xr-dark-blue, $lightness: 15%);

$xr-green-7: color.scale($xr-green, $lightness: -15%);
$xr-yellow-7: color.scale($xr-yellow, $lightness: -15%);
$xr-pink-7: color.scale($xr-pink, $lightness: -15%);
$xr-light-blue-7: color.scale($xr-light-blue, $lightness: -15%);
$xr-mauve-7: color.scale($xr-mauve, $lightness: -15%);
$xr-gold-7: color.scale($xr-gold, $lightness: -15%);
$xr-orange-7: color.scale($xr-orange, $lightness: -15%);
$xr-red-7: color.scale($xr-red, $lightness: -15%);
$xr-dark-blue-7: color.scale($xr-dark-blue, $lightness: -15%);

$xr-green-8: color.scale($xr-green, $lightness: -30%);
$xr-yellow-8: color.scale($xr-yellow, $lightness: -30%);
$xr-pink-8: color.scale($xr-pink, $lightness: -30%);
$xr-light-blue-8: color.scale($xr-light-blue, $lightness: -30%);
$xr-mauve-8: color.scale($xr-mauve, $lightness: -30%);
$xr-gold-8: color.scale($xr-gold, $lightness: -30%);
$xr-orange-8: color.scale($xr-orange, $lightness: -30%);
$xr-red-8: color.scale($xr-red, $lightness: -30%);
$xr-dark-blue-8: color.scale($xr-dark-blue, $lightness: -30%);

$xr-green-9: color.scale($xr-green, $lightness: -45%);
$xr-yellow-9: color.scale($xr-yellow, $lightness: -45%);
$xr-pink-9: color.scale($xr-pink, $lightness: -45%);
$xr-light-blue-9: color.scale($xr-light-blue, $lightness: -45%);
$xr-mauve-9: color.scale($xr-mauve, $lightness: -45%);
$xr-gold-9: color.scale($xr-gold, $lightness: -45%);
$xr-orange-9: color.scale($xr-orange, $lightness: -45%);
$xr-red-9: color.scale($xr-red, $lightness: -45%);
$xr-dark-blue-9: color.scale($xr-dark-blue, $lightness: -45%);

$xr-green-10: color.scale($xr-green, $lightness: -60%);
$xr-yellow-10: color.scale($xr-yellow, $lightness: -60%);
$xr-pink-10: color.scale($xr-pink, $lightness: -60%);
$xr-light-blue-10: color.scale($xr-light-blue, $lightness: -60%);
$xr-mauve-10: color.scale($xr-mauve, $lightness: -60%);
$xr-gold-10: color.scale($xr-gold, $lightness: -60%);
$xr-orange-10: color.scale($xr-orange, $lightness: -60%);
$xr-red-10: color.scale($xr-red, $lightness: -60%);
$xr-dark-blue-10: color.scale($xr-dark-blue, $lightness: -60%);

$xr-green-11: color.scale($xr-green, $lightness: -75%);
$xr-yellow-11: color.scale($xr-yellow, $lightness: -75%);
$xr-pink-11: color.scale($xr-pink, $lightness: -75%);
$xr-light-blue-11: color.scale($xr-light-blue, $lightness: -75%);
$xr-mauve-11: color.scale($xr-mauve, $lightness: -75%);
$xr-gold-11: color.scale($xr-gold, $lightness: -75%);
$xr-orange-11: color.scale($xr-orange, $lightness: -75%);
$xr-red-11: color.scale($xr-red, $lightness: -75%);
$xr-dark-blue-11: color.scale($xr-dark-blue, $lightness: -75%);


.dark-blue {

    // .color-1 {
    //     color: $xr-dark-blue-1;
    // }

    // ;

    // .color-2 {
    //     color: $xr-dark-blue-2;
    // }

    // ;

    // .color-3 {
    //     color: $xr-dark-blue-3;
    // }


    .color-3 {
        background-color: $xr-dark-blue-3;
    }

    .color-4 {
        background-color: $xr-dark-blue-4;
    }

    .color-5 {
        background-color: $xr-dark-blue-5;
    }

    .color-6 {
        background-color: $xr-dark-blue;
    }

    .color-7 {
        background-color: $xr-dark-blue-7;
    }

    .color-8 {
        background-color: $xr-dark-blue-8;
    }

    .color-9 {
        background-color: $xr-dark-blue-9;
    }

    .color-10 {
        background-color: $xr-dark-blue-10;
    }

    .color-11 {
        background-color: $xr-dark-blue-11;
    }


}

.blue {
    .color-3 {
        background-color: $xr-light-blue-3;
    }

    .color-4 {
        background-color: $xr-light-blue-4;
    }

    .color-5 {
        background-color: $xr-light-blue-5;
    }

    .color-6 {
        background-color: $xr-light-blue;
    }

    .color-7 {
        background-color: $xr-light-blue-7;
    }

    .color-8 {
        background-color: $xr-light-blue-8;
    }

    .color-9 {
        background-color: $xr-light-blue-9;
    }

    .color-10 {
        background-color: $xr-light-blue-10;
    }

    .color-11 {
        background-color: $xr-light-blue-11;
    }

}