/* --- EVENTS sytling ------ */

.events .list-page-list {
    gap: 1em;
}

.event-li {
    /* margin-bottom: 1em; */
    display: block;
    height: 100%;
    padding: 2em;
    border-radius: 5px;
    border: solid 1px #e0e0e0;
    box-shadow: 0 0 1.5em #61616124;
    text-decoration: none;
    color: var(--black);
    transition: all .4s;
    font-size: clamp(13px, .85em, 20px);
}

.event-li:hover {
    border-color: orangered;
}


.event-li h2 {
    border: none;
    margin-top: 0;
    font-family: 'Source Sans Pro', verdana, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: var(--dark-blue);
    text-transform: none;
    word-spacing: 0;
    letter-spacing: 0;
}

.event-li a,
.event-link {
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-rows: repeat(auto auto 1fr auto); */
    justify-content: space-between;
    height: 100%;
    color: var(--black);
    /* grid-template-rows: auto 3em 1fr auto; */
    text-decoration: none;
}

.summary {
    flex-grow: 10;
    margin-top: 1em;
}

.read-more {
    margin-top: 2em;
    text-align: center;
}

.where-and-when {
    width: fit-content;
    max-width: 750px;
    margin: 4em auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1.5em;
    justify-content: space-between;
}

.where-and-when>* {
    // padding: 1em;
    // border: solid 1px #ccc;
    border-radius: 10px;
}

.where-and-when h3 {
    margin: 0;
}

h1+p {
    margin-bottom: 4em;
}


/* --- April 21 The Big One ---- */

#countdown {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    background-color: var(--blue);
    // padding: 0.5em 3em;
    max-width: fit-content;
    // max-width: 90%;
    margin: 2em auto;
    font-size: 2em;
    text-align: center;
    color: #fff;
    font-family: fucxed, sans-serif;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 5px;
    letter-spacing: -0.03em;
    word-spacing: -0.2em;
}

.days {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1rem 1em 0 1em;
    // margin-inline: auto;
    font-size: 4em;
    text-align: center;
    grid-column: 1 / -1;
}

.days .time-unit {
    font-size: 0.25em;
}

#countdown>*:not(.days) {
    padding-bottom: 1rem;
    // margin-inline: 4rem;
}

.time-unit {
    display: inline-block;
    margin-left: 0.25em;
    // margin-right: 1em;
    font-size: 0.5em;
}

.surround-parliament {
    // display: none;
    max-width: 100%;
    // height: 400px;
    aspect-ratio: 16 / 9;
    overflow: auto;
    text-align: center;
    background-color: $xr-yellow;
}

.surround-parliament img {
    max-width: 100%;
}