/* ----- MEDIA QUERIES -------- */

@media screen and (max-width: 800px) {
    .main-menu {
        display: grid;
        place-content: center;
        position: fixed;
        right: 100vw;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000000d4;
        background-image: url(/img/xr-logo-tilted.svg);
        background-repeat: no-repeat;
        background-size: 90vw;
        background-position: -10vw 120%;
        backdrop-filter: blur(5px);
        transition: all 0.7s;
    }

    .main-menu ul {
        flex-direction: column;
        font-size: 2em;
        height: 60vh;
        text-align: center;

        li#menu-home,
        li#menu-search {
            margin-right: initial;
            margin-left: initial;
        }
    }

    .hamburger {
        display: block;
    }
}