    <li class="event-li"
    {{ if .Params.cover_image }}
        style="background-color: #fafafa;"
    {{ end }}
    >
    <a href="{{ .RelPermalink }}">
        <div class="catagory">{{ with .Params.Catagories }}{{ . }}{{ end }}</div>
        <h3>{{ .LinkTitle }}</h3>
    </a>

        <div class="time">
            <time>{{ .ExpiryDate.Format "3.04pm, 2 Jan 06" }}</time>
        </div>

        <section class="summary">
            <div class="summary-text">{{ .Summary | truncate 200 }}</div>
            
            <div class="read-more"><a class="btn" href="{{ .RelPermalink }}">Read more ..</a></div>
            
        </section>
    </li>