    <li class="event-li"
    {{ if .Params.cover_image }}
        style="background-color: #fafafa;"
    {{ end }}
    >
    <a class="event-link" href="{{ .RelPermalink }}">
        <h3>{{ .LinkTitle }}</h3>
        
        <div class="time">
            <time>{{ .ExpiryDate.Format "3.04pm, 2 Jan 06" }}</time>
            {{ with .Params.Catagories }}<div class="catagory">{{ . }}</div>{{ end }}
        </div>
        
        <section class="summary">
            <div class="summary-text">{{ .Summary | truncate 200 }}</div>
        </section>
        <div class="read-more"><ai class="btn">Read more ..</ai></div>
    </a>
    </li>