{{ define "main" }}

{{ if or ( eq .Section "press") (eq .Section "news" ) }}
    {{ partial "author-date" . }}
{{ end }}

<h1>{{ .Title }}</h1>

<section class="content">
    {{ .Content }}
</section>

    {{ if eq .Section "press" }}
        <h2>Press Releases</h2>
        
        <p>See what is going on nationally at: <a href="https://rebellion.earth/">rebellion.earth</a></p>

        <p>Donate &copy {{ now.Year }} by Extinction Rebellion Sheffield.</p>

        <p>{{ site.Params.email }}</p>
    {{ end }}


    {{ if ne .Section "" }}
        
    <div class="prev-next">
        {{ with .PrevInSection }}
        <a class="btn" href="{{ .RelPermalink }}">&lt; Previous</a>
        
        {{ end }}
        {{ with .NextInSection }}
        <a class="btn" href="{{ .RelPermalink }}">Next &gt;</a>
        {{ end }}
    </div>
    {{ end }}
    
{{ end }}