{{ define "main" }}

{{ if or ( eq .Section "press") (eq .Section "news" ) }}
    {{ partial "author-date" . }}
{{ end }}

<h1>{{ .Title }}</h1>

{{ with .Params.cover_image }}
    
{{ $img_url := print "img/" . }}
    {{ with resources.Get $img_url }}
    {{ $image := . }}
    {{ if gt $image.Width 1004 }}
        {{ $image = $image.Resize "1004x" }}
    {{ end }}
        <img src="{{ $image.RelPermalink }}" alt="Cover image" style="max-width: 100%;">
    {{ end }}
{{ end }}

<section class="content">
    {{ .Content }}
</section>

    {{ if eq .Section "press" }}
        <h2>Press Releases</h2>
        
        <p>See what is going on nationally at: <a href="https://rebellion.earth/">rebellion.earth</a></p>

        <p>Donate &copy {{ now.Year }} by Extinction Rebellion Sheffield.</p>

        <p>{{ site.Params.email }}</p>
    {{ end }}


    {{ if ne .Section "" }}
        
    <div class="prev-next">
        {{ with .PrevInSection }}
        <a class="btn" href="{{ .RelPermalink }}">&lt; Previous</a>
        
        {{ end }}
        {{ with .NextInSection }}
        <a class="btn" href="{{ .RelPermalink }}">Next &gt;</a>
        {{ end }}
    </div>
    {{ end }}
    
{{ end }}