{{ define "main" }}
<article>
    
    {{ if or ( eq .Section "press") (eq .Section "news" ) (eq .Section "events") }}
        {{ partial "author-date" . }}
    {{ end }}
    
    <h1>{{ .Title }}</h1>
    
    {{ partial "cover-image" . }}
    
    <section class="content">
        {{ .Content }}
    </section>
    
    {{ partial "social-share-btns" . }}
    
        {{ if eq .Section "press" }}
            <h2>Press Releases</h2>
    
            <p>See what is going on nationally at: <a href="https://rebellion.earth/">rebellion.earth</a></p>
    
            <p>Donate &copy {{ now.Year }} by Extinction Rebellion Sheffield.</p>
    
            <p>{{ site.Params.email }}</p>
        {{ end }}
    
    
        {{/*  For pages that are in a section add the menu at the bottom.  */}}
        {{ if ne .Section "" }}
    
        {{ partial "prev-next" . }}

        {{ end }}
    
</article>   
{{ end }}