<h2 id="our-3-demands">Our 3 Demands</h2>

<section class="demands">
    <div class="demand-number">01</div>
    <div class="demand"><h3>Tell the Truth</h3><p>That the Government must tell the truth about how deadly our situation is, it must reverse all policies not in alignment with that position and must work alongside the media to communicate the urgency for change including what individuals, communities and businesses need to do.</p></div>
    <div class="demand-number">02</div>
    <div class="demand"><h3>Act Now</h3><p>The Government must enact legally-binding policies to reduce carbon emissions in the UK to net zero by 2025 and take further action to remove the excess of atmospheric greenhouse gases. It must cooperate internationally so that the global economy runs on no more than half a planet’s worth of resources per year.</p></div>
    <div class="demand-number">03</div>
    <div class="demand"><h3>Decide Together</h3><p>By necessity these demands require initiatives and mobilisation of similar size and scope to those enacted in times of war. We do not however, trust our Government to make the bold, swift and long-term changes necessary to achieve this and we do not intend to hand further power to our politicians. Instead we demand a Citizens’ Assembly to oversee the changes, as we rise from the wreckage, creating a democracy fit for purpose.</p></div>
</section>