<section class="the-big-one">
  <p>
    From the 21st to the 24th April tens of thousands of people will gather in
    London to protest against the government&rsquo;s woefully inadequate response
    to climate change. Will you be one of them?
  </p>
  
 
  <p>This event is supported by 100s of organizations throughout the UK including Greenpeace, Friends of the Earth and <a href="/events/the-big-one/">many more</a>.</p>
  
  <p>The family friendly event is spread out over 4 days:</p>
  <ul>
    <li>
      Friday 21st&mdash;<strong>Unite to Survive</strong>. Westminster is filled with
      flags, banners and people.
    </li>
    <li>
      Saturday 22nd&mdash;<strong>Earth Day</strong>. An enormous, celebration &amp;
      family-friendly march for biodiversity!
    </li>
    <li>
      Sunday 23rd&mdash;<strong>Running Out of Time!</strong> The Big One coexists
      with the London Marathon.
    </li>
    <li>
      Monday 24th&mdash;<strong>Choose Your Future</strong>. Parliament returns, the
      demand is delivered.
    </li>
  </ul>
  
   
  <div class="coach-btns">
    <p style="text-align: center"><a class="btn" href="/events/the-big-one/">Find out more</a></p>
  </div>

</section>