<h3>XR Colours</h3>

<div class="colours">
    <div class="xr green"></div>
    <div class="xr yellow"></div>
    <div class="xr gold"></div>
    <div class="xr red"></div>
    <div class="xr orange"></div>
    <div class="xr pink"></div>
    <div class="xr mauve"></div>
    <div class="xr light-blue"></div>
    <div class="xr dark-blue"></div>
</div>


<style>
.colours {
display: grid;
grid-template-rows: repeat(9, 100px);
{{/*  gap: 5px;  */}}
{{/*  transform: rotate(90deg);  */}}
}
.xr.green {
background-color:  #22A93D;
}
.xr.yellow {
    background-color: #F6ED73;
} 
.xr.pink {
    background-color: #DC93C0;
} 
.xr.light-blue {
    background-color: #7BD0EF;
} 
.xr.mauve {
    background-color: #986297;
} 
.xr.gold {
    background-color: #FCC035;
} 
.xr.orange {
    background-color: #D94F17;
} 
.xr.red {
    background-color: #C50A81;
} 
.xr.dark-blue {
    background-color: #3D61A8;
} 
</style>