<footer>
  
  <div class="inner">
    <div class="footer-left">
      <p>See what is going on nationally at:<br />
        <a href="https://rebellion.earth">rebellion.earth</a>
    </p>

      <p class="copyright">
        {{/*  Site has {{ len site.RegularPages }} pages.<br>  */}}
        &copy;{{ now.Year }} by Extinction Rebellion Sheffield. </p>
    </div>

    <div class="footer-centre">
        <nav>
            <ul>
                {{ range site.Menus.main }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>
    </div>


    <div class="footer-right">
        <a href="https://chuffed.org/project/xrsheffield" class="btn donate" title="Donate at Chuffed.org">Donate</a>
    </div>
  </div>
</footer>
