    <li class="event-li"
    {{ if .Params.cover_image }}
        style="cursor: pointer;"
    {{ end }}
    >
    <a class="event-link" aria-label="More on {{ .Title }}" href="{{ .RelPermalink }}">
        <h2>{{ .LinkTitle | safeHTML }}</h2>
        
        <div class="time">
            <time>{{ .ExpiryDate.Format "Mon 2 Jan 2006" }}</time>
            {{ with .Params.Catagories }}<div class="catagory">{{ . }}</div>{{ end }}
        </div>
        
        <section class="summary">
            <div class="summary-text">{{ .Summary | truncate 200 }}</div>
        </section>
        <div class="read-more"><span class="btn">Read more ..</span></div>
    </a>
    </li>