{{ define "main" }}

    <article>
        <h1>{{ .Title | safeHTML }}</h1>
        <p><time>{{ .ExpiryDate.Format "Mon 2 January" }}{{ with .Params.event_time }}. Time: {{ . }}{{ end }}</time></p>
        
        {{ partial "cover-image" . }}

        {{ .Content }}
        
        <div class="where-and-when">
        {{ with .Params.location }}
            <div class="event-location">
                <h3>Where?</h3>
                <p>
                    {{with .name }}{{ . }}<br>{{ end }}
                    {{with .street }}{{ . }}<br>{{ end }}
                    {{with .town }}{{ . }}<br>{{ end }}
                    {{with .postcode }}{{ . }}<br>{{ end }}
                </p>
            </div>
            {{ end }}
            
            {{ if .ExpiryDate }}
            <div class="event-time">
                <h3>When?</h3>
                <p>
                    {{ .ExpiryDate.Format "Monday 02 January" }} {{ with .Params.event_time }}<br>{{ . }}{{ end }}
                </p>
            </div>
            {{ end }}
        </div>

            
            {{ partial "social-share-btns" . }}
            
            {{ partial "prev-next" . }}
    </article>

{{ end }}