<div class="join">
    <h2>
        WANT TO JOIN THE REBELLION?<br>
        <span>SIGN UP TO OUR MAILING LIST</span>
    </h2>
    
    <p>You can join the mailing list by <a href="http://joinxr.uk/sheffield">filling in this form</a>.</p>
    
    <p>The mailing list complies with GDPR regulations and you can unsubscribe whenever you like.</p>
    
    <p>You can also get involved by liking our <a href="https://www.facebook.com/xrshef">Facebook page</a>, or joining our private group. We are also on <a href="https://twitter.com/XRShef">Twitter</a>, <a href="https://www.instagram.com/xrshef/">Instagram</a>, or contact us by <a mailto="xrsheffield@gmail.com">email</a>.</p>
</div>