{{/*  Used on the front page  */}}

<div class="link-box">
    <div><a href="https://extinctionrebellion.uk/the-truth/"><img src="/img/truth.png" alt="truth" title="Article on XR UK site"></a></div>
    <div><a href="https://extinctionrebellion.uk/act-now/"><img src="/img/act.png" alt="ACT" title="Article on XR UK site"></a></div>
    <div><a href="https://extinctionrebellion.uk/go-beyond-politics/"><img src="/img/beyond.png" alt="beyond" title="Article on XR UK site"></a></div>
    <div><a href="https://extinctionrebellion.uk/news/"><img src="/img/news.png" alt="news" title="Article on XR UK site"></a></div>
</div>