<p class="next-monday-meetings">
  The next meetings are on: <span id="dates"></span>
</p>

<script>
  const dates = [

    new Date('2023-04-11'),
    new Date('2023-04-17'),
    new Date('2023-04-24'),
    new Date('2023-05-01'),
    new Date('2023-05-08'),
    new Date('2023-05-15'),
    new Date('2023-05-22'),
    new Date('2023-05-29'),
    new Date('2023-06-05'),
    new Date('2023-06-12'),
    new Date('2023-06-19'),
    new Date('2023-06-26'),
  ];

  const datesEl = document.querySelector('#dates');

  function pickTwoDates(dates) {
    let today = new Date();
    let firstDate;
    let secondDate;

    // find the first date, either today or the next one after today
    // subtract the number of milliseconds in a day - 86,400,000 - for the first day to make sure today is included.
    for (let i = 0; i < dates.length; i++) {
      if (dates[i].getTime() >= today.getTime() - 86400000) {
        firstDate = dates[i];
        break;
      }
    }

    // find the second date, the next one after the first date found above
    for (let i = 0; i < dates.length; i++) {
      if (dates[i].getTime() > firstDate.getTime()) {
        secondDate = dates[i];
        break;
      }
    }

    datesEl.innerHTML = `
      <b>${firstDate.getDate()} 
        ${firstDate.toLocaleString( 'default', { month: 'long' } )}</b>
         and 
      <b>${secondDate.getDate()} 
      ${secondDate.toLocaleString( 'default', { month: 'long' } )}</b>.
    `;
  }
  pickTwoDates(dates);
</script>
