<p class="next-monday-meetings">
  The next meetings are on: <span id="dates"></span>
</p>

<script>

// The date function will only work as long as there are 2 or more future dates listed.

  const dates = [
    new Date('2024-01-08'),
    new Date('2024-01-15'),
    new Date('2024-01-22'),
    new Date('2024-01-29'),
    new Date('2024-02-05'),
    new Date('2024-02-12'),
    new Date('2024-02-19'),
    new Date('2024-02-26'),
    new Date('2024-03-04'),
    new Date('2024-03-11'),
    new Date('2024-03-18'),
    new Date('2024-03-25'),
    new Date('2024-04-01'),
    new Date('2024-04-08'),
    new Date('2024-04-15'),
    new Date('2024-04-22'),
    new Date('2024-04-29')
  ];

  const datesEl = document.querySelector('#dates');

  function pickTwoDates(dates) {
    let today = new Date();
    let firstDate;
    let secondDate;

    // find the first date, either today or the next one after today
    // subtract the number of milliseconds in a day - 86,400,000 - for the first day to make sure today is included.
    for (let i = 0; i < dates.length; i++) {
      if (dates[i].getTime() >= today.getTime() - 86400000) {
        firstDate = dates[i];
        break;
      }
    }

    // find the second date, the next one after the first date found above
    for (let i = 0; i < dates.length; i++) {
      if (dates[i].getTime() > firstDate.getTime()) {
        secondDate = dates[i];
        break;
      }
    }

    datesEl.innerHTML = `
      <b>${firstDate.getDate()} 
        ${firstDate.toLocaleString( 'default', { month: 'long' } )}</b>
         and 
      <b>${secondDate.getDate()} 
      ${secondDate.toLocaleString( 'default', { month: 'long' } )}</b>.
    `;
  }
  pickTwoDates(dates);
</script>
