<p>
  From the 21st to the 24th April tens of thousands of people will gather in
  London to protest against the government&rsquo;s woefully inadequate response
  to climate change. Will you be one of them?
</p>

<h2 style="border: none; text-align: center;">The Big One starts in:</h2>
<div id="countdown" style="margin-top: 0;"></div>

<p>This event is supported by 100s of organizations throughout the UK including Greenpeace, Friends of the Earth and <a href="/events/the-big-one/">many more</a>.</p>

<p>The family friendly event is spread out over 4 days:</p>
<ul>
  <li>
    Friday 21st&mdash;<strong>Unite to Survive</strong>. Westminster is filled with
    flags, banners and people.
  </li>
  <li>
    Saturday 22nd&mdash;<strong>Earth Day</strong>. An enormous, celebration &amp;
    family-friendly march for biodiversity!
  </li>
  <li>
    Sunday 23rd&mdash;<strong>Running Out of Time!</strong> The Big One coexists
    with the London Marathon.
  </li>
  <li>
    Monday 24th&mdash;<strong>Choose Your Future</strong>. Parliament returns, the
    demand is delivered.
  </li>
</ul>

<h2 id="travel-from-sheffield">Travel from Sheffield</h2>

<img src="/img/london-coach.jpg" alt="Unite to Survive coach" />

<p>Coaches to London are going down on both <strong>Friday 21st April</strong> and <strong>Saturday 22nd</strong> and there ARE still SOME tickets left.</p>
<p>Both coaches leave Paternoster Row, Sheffield S1 2QQ at 7am, and Meadowhall coach park at 7.20am before heading to London. They both leave London at 6pm and are expected to arrive back around 10.30/11pm.</p>
<p>The cost for a day trip is £30 though lower priced tickets are available for those on a low income.</p>

<p style="text-align: center"><a class="btn" href="/events/the-big-one/">Find out more</a></p>